.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    width: 100%;
    max-width: 1184px;
    margin: 0px 48px 92px;;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .gallery {
        max-width: 928px;
        gap: 14px;
        padding: 0;       
    }
}

@media screen and (max-width: 768px) {
    .gallery {
        gap: 16px;
        margin: 0px 24px 88px;
        max-width: 720px;
    }
}

@media screen and (max-width: 320px) {
    .gallery {
        row-gap: 12px;
        column-gap: 0px;
        margin: 0px 16px 64px;
        max-width: 288px;
    }
} 

