.header {  
    max-width: calc(100%*0.925); 
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 28px 48px 56px;    
}

@media screen and (max-width: 1024px) {
    .header {
      margin: 28px 48px 48px;      
      padding: 0;
      max-width: calc(100%*0.90625);      
    }
  }

@media screen and (max-width: 768px) {
    .header {
      margin: 28px 24px 48px;  
      max-width: calc(100vw - 48px);    
    }
  } 

   
  @media screen and (max-width: 320px) {
    .header {
      margin: 16px 16px 48px;
      max-width: 288px;
    }
  }