.lead__subtitle {
    max-width: 640px;
    margin: 0 auto 64px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    text-align: center;    
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        margin-bottom: 56px;
    }
}

@media screen and (max-width: 720px) {
    .lead__subtitle {
        max-width: calc(100% - 11%);
        font-size: calc(100vw/25.6);
    }
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        max-width: 288px;
        font-size: 16px;
        line-height: 125%;
        margin-bottom: 40px;
    }
}