@import url(../vendor/normalize.css);

@import url(../vendor/font.css);
@import url(../blocks/page/page.css);
@import url(../blocks/content/content.css);
@import url(../blocks/link/link.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/header/__lang-links/header__lang-links.css);
@import url(../blocks/header/__lang-link/_push/header__lang-link_push.css);

@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__figure/lead__figure.css);
@import url(../blocks/lead/__picture/lead__picture.css);
@import url(../blocks/lead/__caption/lead__caption.css);

@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__main-text/intro__main-text.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__list-item/intro__list-item.css);
@import url(../blocks/intro/__list-title/intro__list-title.css);

@import url(../blocks/gallery/gallery.css);
@import url(../blocks/gallery/__item/gallery__item.css);

@import url(../blocks/places/places.css);
@import url(../blocks/place/place.css);
@import url(../blocks/place/__image/place__image.css);
@import url(../blocks/place/__text/place__text.css);
@import url(../blocks/place/__paragraph/place__paragraph.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__website-adress/place__website-adress.css);
@import url(../blocks/place/__website-link/place__website-link.css);
@import url(../blocks/place/__website/place__website.css);

@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);
@import url(../blocks/cover/__back/cover__back.css);
@import url(../blocks/cover/__inscription/cover__inscription.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__author/footer__author.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__links/footer__links.css);
@import url(../blocks/footer/__container/footer__container.css);



/*@media screen and (max-width: 568px) and (max-height: 320px) {
    /* стили для iphone 5 */
    /*.content__column {
        width: 100%; 
        margin-bottom: 60px; 
        display: flex; 
        justify-content: space-between;
        align-items: flex-start; 
    }
    
    .content__column-image {
        width: 30%; 
        padding-bottom: 30%;
    }
    
    .column__description {
        width: calc(70% - 40px); 
    }
    
    .content__column-title {
        margin-top: 0;
        font-size: 1.5em;
        margin-bottom: 18px;
    }
    .column__quote {
        font-size: 0.9em;
    }
    
    .column__quote-cite {
        font-size: 0.7em;
        line-height: 1.5;
    }
    
    .share {
        margin-top: 18px;
    }
    
    .share__text {
        font-size: 1em;
    }
}*/
