.footer {
    max-width: calc(100%*0.925);
    margin: 0 auto 24px;       
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: calc(100%*0.90625);
    }
}

@media screen and (max-width: 768px) {
    .footer {
        margin: 0 24px 24px;
        max-width: calc(100vw - 48px);
    }
}

@media screen and (max-width: 320px) {
    .footer {
        width: 100%;
        margin: 0px 0px 16px 24px;
    }
} 